<div 
  style="
    background-color: #F0E5CC; 
    width: 100%; 
    padding-left: 5%; 
    padding-right: 5%; 
    padding-top: 10px; 
    padding-bottom: 10px;
    text-align: center;"
  >
  <a style="color: rgba(0, 0, 0, 0.8);" href="https://discord.gg/qeyfuvymMZ">
  <strong style="transition: none;">
    Have questions or comments or just want to learn more? Join me (Fernando) in the Moonrise Labs Discord!
  </strong> 
    <img style="max-width: 16px;" src="/icons/launch.svg"/>
  </a> 
</div>


